<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- My CSS -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<title>Eat-Da-Burger Devour Menu</title>
</head>

<body>

	<img src="/assets/img/burger_img.jpg" width="400px" id="burger_img">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="container-fluid">
			<span class="text-muted">© 2017 Ikechi Nnawuba</span>
			<a class="linkAlign" href="">Reference Work</a>
	   </div>
	</footer>
</body>
</html>